numpy==1.26.4
protobuf==4.25.9
ml-dtypes==0.3.2
pyyaml==6.0.3
tensorflow==2.15.1
tf-keras==2.15.0
tensorflow-hub==0.16.1
tensorflow-datasets
opencv-python-headless
opencv-contrib-python
pandas
matplotlib
sounddevice
mediapipe==0.10.35
google-api-python-client>=1.6.7
google-api-core
google-auth-httplib2
ipykernel